<!DOCTYPE html>
<html>

<head>
  <title>
    投稿編集
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    投稿編集
  </h1>
  <form method="get" action="/diary/<%= diary._id %>/confirm">
    <h2>タイトル</h2>
    <input type="text" name="title" value="<%= diary.title %>"/>
    <br />
    <h2>本文</h2>
    <textarea name="content"><%= diary.content %></textarea>
    <br />
    <button type="submit">確認</button>
  </form>
</body>

</html>